body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url("grid.png");
}

#regionTable tbody tr:hover {
    cursor: pointer;
}

.map-container {
    position: relative;
    width: 100%;
}

#map {
    position: relative;
    animation-duration: 3s;
    z-index: 1;
}

#popover {
    position: absolute;
    top: 20px;
    left: 20px; 
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    max-width: 250px;
    display: none; 
    z-index: 1050;
}

.info-panel {
    position: fixed;
    top: 20px;
    left: 20px; 
    z-index: 1050;
    overflow: auto;
    overflow-x: hidden;
    height: calc(90vh);
}

.zoom-buttons {
    position: fixed;
    top: 20px;
    right: 20px; 
    z-index: 1050;
}

.card-body {
    font-size: 13px; 
    white-space:nowrap;
}

g[id="bg"] {
    cursor: grab;
}

g[id="bg"]:active {
    cursor: grabbing;
}

g[id="Five Points"],
g[id="Old Redford"],
g[id="Minock Park"],
g[id="Westwood Park"],
g[id="Grandmont"],
g[id="Sherwood Forest"],
g[id="Palmer Woods"],
g[id="Boston Edison"],
g[id="New Center"],
g[id="West Village"],
g[id="English Village"],
g[id="Brush Park"],
g[id="Lafayette Park"],
g[id="Gold Coast"],
g[id="Indian Village"],
g[id="Hubbard Farms"],
g[id="Eastern Market"],
g[id="Russel Woods"],
g[id="Castle Rouge"],
g[id="Eliza Howell"],
g[id="NW Goldberg"],
g[id="Core City"],
g[id="Woodbridge"],
g[id="Rivertown"],
g[id="Elmwood Park"],
g[id="McDougall-Hunt"],
g[id="Islandview"],
g[id="Marina District"],
g[id="Foch"],
g[id="Kettering"],
g[id="Poletown East"],
g[id="Cass Corridor"],
g[id="Corktown"],
g[id="Downtown"],
g[id="Midtown"],
g[id="Milwaukee Junction"],
g[id="North End"],
g[id="LaSalle Gardens"],
g[id="Arden Park"],
g[id="Petosky-Otsego"],
g[id="Dexter-Linwood"],
g[id="Hope Village"],
g[id="Martin Park"],
g[id="University District"],
g[id="Detroit Golf"],
g[id="Palmer Park"],
g[id="Grixdale Farms"],
g[id="NorHam"],
g[id="Davison"],
g[id="State Fair"],
g[id="Grixdale"],
g[id="Conant Gardens"],
g[id="Krainz Woods"],
g[id="Nortown"],
g[id="Airport Sub"],
g[id="Osborn"],
g[id="Regent Park"],
g[id="Burbank"],
g[id="Michigan-Martin"],
g[id="LaSalle College Park"],
g[id="Ravendale"],
g[id="Denby"],
g[id="St. Jean"],
g[id="Chandler Park"],
g[id="Morningside"],
g[id="East English Village"],
g[id="Balduck Hill"],
g[id="Jefferson-Mack"],
g[id="Jefferson Chalmers"],
g[id="West Side Industrial"],
g[id="North Corktown"],
g[id="Green Acres"],
g[id="Pembroke"],
g[id="Bagley"],
g[id="Fitzgerald"],
g[id="Littlefield"],
g[id="Grand Meyer"],
g[id="Southwest"],
g[id="Mexicantown"],
g[id="Delray"],
g[id="Oakwood Heights"],
g[id="Boynton"],
g[id="Condon"],
g[id="Chadsey"],
g[id="Barton McFarland"],
g[id="Aviation Sub."],
g[id="Fiskorn"],
g[id="Greendfield-Grand River"],
g[id="Belmont"],
g[id="Grandmont Rosedale"],
g[id="Rosedale Park"],
g[id="The Eye"],
g[id="Seven Mile Evergreen"],
g[id="Grandale"],
g[id="Hernan Gardens"],
g[id="Franklin Park"],
g[id="Warrendale"],
g[id="River Rouge"],
g[id="Brightmoor"],
g[id="Riverdale"],
g[id="Greenfield"],
g[id="Berg-Lasher"],
g[id="North Rosedale Park"],
g[id="Seven Mile-Rouge"],
g[id="Clayton"],
g[id="Southwest Detroit"],
g[id="Springwells"],
g[id="Herman Gardens"],
g[id="Bethune"],
g[id="Midwest"],
g[id="Farwell"],
g[id="Schulze"],
g[id="Oakman"],
g[id="Crary"],
g[id="Moross-Morang"],
g[id="Evergreen Lahser"],
g[id="Plymouth Hubbel"],
g[id="Outer Drive Hayes"],
g[id="Cornerstone Village"],
g[id="College Park"],
g[id="Buffalo Charles"],
g[id="Schaefer Lodge"],
g[id="Nolan"],
g[id="Winship"],
g[id="O'Hair Park"],
g[id="Evergreen-Outer Drive"],
g[id="Schoolcraft Southfield"],
g[id="Mapleridge"],
g[id="Chadsey Condon"],
g[id="Grand River"],
g[id="West End"],
g[id="Campau/Banglatown"],
g[id="Pulaski"],
g[id="Bentler-Pickford"],
g[id="East Village"],
g[id="Hubbell Puritan"],
g[id="Far West"],
g[id="Eden Gardens"],
g[id="Yorkshire Woods"],
g[id="Harmony Village"],
g[id="Nardin Park"],
g[id="Mount Olivet"],
g[id="Hubbell-Lyndon"],
g[id="Mohican Regent"],
g[id="Pilgrim Village"],
g[id="Sherwood"],
g[id="Gratiot-Findlay"],
g[id="Gratiot-Grand"],
g[id="Grand River-St. Marys"],
g[id="Wade"],
g[id="Art Center"],
g[id="Riverbend"],
g[id="Butler"],
g[id="Greensbriar"],
g[id="Grandmont No.1"],
g[id="Chalfonte"],
g[id="McDowell"],
g[id="Pershing"],
g[id="Fox Creek"],
g[id="Davison-Schoolcraft"],
g[id="Henry Ford"],
g[id="Gateway"],
g[id="Fiskhorn"],
g[id="Greenwich"],
g[id="Cadillac Heights"],
g[id="Oak Grove"],
g[id="Russell Woods"],
g[id="Piety Hill"],
g[id="West Outer Drive"],
g[id="Blackstone Park"],
g[id="Conner Creek"],
g[id="Hubbard-Richard"],
g[id="Gratiot Town/Kettering"],
g[id="McNichols Evergreen"],
g[id="Grant"],
g[id="Gratiot Woods"],
g[id="San Bernardo"],
g[id="Virginia Park"],
g[id="New Center Commons"],
g[id="North LaSalle"],
g[id="Briggs"],
g[id="Hawthorne Park"],
g[id="Wildemere Park"],
g[id="Conner Creek Ind"],
g[id="Garden Homes"],
g[id="Northeast Central District"],
g[id="Dexter-Fenkell"],
g[id="Northwest"],
g[id="Herman Kiefer"],
g[id="Penrose"],
g[id="Paveway"],
g[id="Southfield Plymouth"],
g[id="Greenfield Park"],
g[id="Joseph Barry Subdivision"],
g[id="North Campau"],
g[id="Cadillac"],
g[id="Historic Atkinson"],
g[id="East Canfield"],
g[id="Eight Mile Wyoming"],
g[id="Seven Mile Lodge"],
g[id="Franklin"],
g[id="Van Steuban"],
g[id="Weatherby"],
g[id="Pingree Park"] 
{
    cursor: pointer;
}

